:root {
	// Neutral
	--color-Neutral-950: hsl(0, 0%, 0%);
	--color-Neutral-300: hsl(0, 0%, 85%);
	--color-Neutral-0: hsl(0, 0%, 100%);

	// Slate
	--color-Slate-700: hsl(215, 14%, 23%);
	--color-Slate-600: hsl(216, 17%, 35%);
	--color-Slate-400: hsl(217, 12%, 62%);
	--color-Slate-100: hsl(212, 41%, 93%);
	--color-Slate-50: hsl(214, 37%, 96%);

	// Amber
	--color-Amber-400: hsl(40, 97%, 58%);
	--color-Amber-50: hsl(39, 100%, 94%);

	// Navy
	--color-Navy-800: hsl(223, 31%, 27%);
}
