// Google Fonts
:root {
	--font-Space-Mono-Bold: normal 700 'Space Mono', sans-serif;
	--font-Lexend-Deca-Regular: normal 400 'Lexend Deca', sans-serif;
}

h1,
h2,
h3,
h4 {
	margin: 0;
}

a {
	text-decoration: none;
}
