@use '/src/styles/utils/' as util;

.appLayoutSpinner {
	width: util.rem(500);
	margin-top: util.rem(200);
	aspect-ratio: 1;
	border-radius: 50%;
	border: util.rem(50) solid;
	border-color: var(--color-Amber-400) #0000;
	animation: l1 1s infinite;

	@keyframes l1 {
		to {
			transform: rotate(0.5turn);
		}
	}
}

@media (max-width: util.rem(1300)) {
	.appLayoutSpinner {
	}
}
