@use '/src/styles/utils/' as util;

.jobVacancies {
	display: grid;
	margin-top: util.rem(125);
	margin-bottom: util.rem(148);
	gap: util.rem(30);
}

@media (max-width: util.rem(1300)) {
	.jobVacancies {
	}
}
