@use '/src/styles/utils/' as util;

.jobPost {
	background-color: var(--color-Slate-50);

	&__wrapper {
		display: flex;
		margin: util.rem(35) util.rem(40);
		justify-content: space-between;
	}

	&__descriptionWrapper {
		opacity: 1;
	}

	&__jobPosition,
	&__jobLocation {
		color: var(--color-Slate-600);
	}

	&__applyBtn {
		width: util.rem(180);
		height: min-content;
		margin-right: util.rem(20);
		padding: util.rem(16) util.rem(40);
		align-self: center;
		color: var(--color-Neutral-0);
		background-color: var(--color-Amber-400);
		border-style: none;
		@include util.text-preset-8;
		cursor: pointer;
	}
}

@media (max-width: util.rem(1300)) {
	.jobPost {
		&__wrapper {
		}

		&__descriptionWrapper {
		}

		&__jobPosition {
		}

		&__jobLocation {
		}

		&__applyBtn {
		}
	}
}
