@use '/src/styles/utils/' as util;

.locationsHeader {
	position: relative;
	display: grid;
	min-height: util.rem(200);
	max-height: util.rem(250);
	grid-template-areas: 'stack';
	overflow: hidden;

	&__headline {
		max-height: min-content;
		grid-area: stack;
		align-self: center;
		color: var(--color-Neutral-0);
		@include util.text-preset-1;
	}

	&__backgroundPhoto {
		z-index: -1;
		width: 100%;
		min-height: util.rem(200);
		max-height: util.rem(250);
		grid-area: stack;
	}

	&__whiteCirclesImage {
		position: relative;
		right: util.rem(-30);
		grid-area: stack;
		align-self: center;
		justify-self: end;
	}
}

@media (max-width: util.rem(1300)) {
	.locationsHeader {
		&__headline {
		}

		&__backgroundPhoto {
			position: absolute;
			left: 50%;
			min-width: util.rem(1200);
			transform: translateX(-50%);
		}

		&__whiteCirclesImage {
		}
	}
}

@media (max-width: util.rem(750)) {
	.locationsHeader {
		&__headline {
			text-align: center;
		}

		&__backgroundPhoto {
		}

		&__whiteCirclesImage {
			display: none;
		}
	}
}
