@use '/src/styles/utils/' as util;

.livelihood {
	position: relative;
	display: flex;
	min-height: util.rem(445);
	margin-top: util.rem(120);
	justify-content: center;
	overflow: hidden;

	&__backgroundImageWrapper {
		position: absolute;
		display: flex;
		width: max-content;
		transform: translateX(-50%);
	}

	&__betterLivingPhoto {
		min-width: min-content;
		min-height: min-content;
		margin-right: util.rem(125);
		border-radius: util.rem(500);
	}

	&__rightArrowImage {
		position: absolute;
		top: util.rem(0);
		left: 20%;
		min-width: min-content;
		min-height: min-content;
	}

	&__circleImage {
		z-index: -1;
		min-width: min-content;
		min-height: min-content;
		margin-right: util.rem(65);
	}

	&__contentWrapper {
		height: min-content;
		align-self: center;
	}

	&__descriptionWrapper {
		display: grid;
		width: util.rem(445);
		justify-self: end;
		gap: util.rem(25);
	}

	&__headline {
		color: var(--color-Slate-600);
		@include util.text-preset-2;
	}

	&__description {
		color: var(--color-Slate-400);
		@include util.text-preset-10;
	}
}

@media (max-width: util.rem(1300)) {
	.livelihood {
		&__backgroundImageWrapper {
		}

		&__betterLivingPhoto {
		}

		&__rightArrowImage {
		}

		&__circleImage {
		}

		&__contentWrapper {
		}

		&__descriptionWrapper {
		}

		&__headline {
		}

		&__description {
		}
	}
}
