@use '/src/styles/utils/' as util;

.features {
	position: relative;
	display: grid;
	margin-top: util.rem(160);
	grid-template-columns: 1fr min(100% - util.rem(80), util.rem(1300)) 1fr;
	overflow: hidden;

	&__backgroundLinePattern {
		position: relative;
		top: util.rem(45);
		z-index: -1;
		height: util.rem(10);
		background-color: var(--color-Slate-100);
	}

	&__featureList {
		display: flex;
		grid-column: 2/3;
		gap: util.rem(30);
		list-style: none;
	}

	&__bgListLinePattern {
		position: absolute;
		top: util.rem(45);
		z-index: -1;
		width: calc(100% - util.rem(360));
		min-width: 70%;
		height: util.rem(10);
		grid-column: 2/3;
		background-color: var(--color-Slate-100);
	}

	&__featureItem {
		display: grid;
		gap: util.rem(40);
	}

	&__featureIcon {
		opacity: 1;
	}

	&__descriptionWrapper {
		display: grid;
		gap: util.rem(25);
	}

	&__featureHeadline {
		color: var(--color-Slate-600);
		@include util.text-preset-5;
	}

	&__featureDescription {
		color: var(--color-Slate-400);
		@include util.text-preset-10;
	}
}

@media (max-width: util.rem(1300)) {
	.features {
		&__backgroundLinePattern {
		}

		&__featureList {
		}

		&__featureItem {
		}

		&__featureIcon {
		}

		&__descriptionWrapper {
		}

		&__featureHeadline {
		}

		&__featureDescription {
		}
	}
}
