@use '/src/styles/utils/' as util;

.heroSection {
	position: relative;
	display: grid;
	min-height: util.rem(650);
	grid-template-areas: 'stack';
	overflow: hidden;

	&__container {
		position: absolute;
		grid-area: stack;
		place-self: center;
	}

	&__headlineWrapper {
		z-index: 1;
		display: grid;
		max-width: util.rem(600);
		grid-area: stack;
		gap: util.rem(40);
	}

	&__headline {
		color: var(--color-Neutral-0);
		@include util.text-preset-1;
	}

	&__descriptionWrapper {
		display: grid;
		max-width: util.rem(500);
		place-self: end;
		gap: util.rem(40);
	}

	&__description {
		color: var(--color-Neutral-0);
		@include util.text-preset-10;
	}

	&__callToActionButton {
		max-width: fit-content;
		padding: util.rem(16) util.rem(40);
		color: var(--color-Neutral-0);
		background-color: var(--color-Amber-400);
		border-style: none;
		@include util.text-preset-8;

		&--hovered {
			padding: util.rem(14) util.rem(38);
			color: var(--color-Amber-400);
			background-color: transparent;
			border: util.rem(2) solid var(--color-Amber-400);
			cursor: pointer;
		}
	}

	&__lineImage {
		position: absolute;
		top: util.rem(215);
		left: util.rem(-160);
	}

	&__rightArrowImage {
		position: absolute;
		top: util.rem(215);
		left: util.rem(660);
	}

	&__backgroundPhoto {
		position: absolute;
		left: 50%;
		z-index: -1;
		width: 100%;
		min-width: min-content;
		grid-area: stack;
		transform: translateX(-50%);
	}

	&__whiteCirclesImage {
		position: relative;
		top: util.rem(140);
		right: util.rem(-40);
		z-index: 1;
		grid-area: stack;
		align-self: center;
		justify-self: end;
	}
}

@container heroSection (width > 1440px) {
	.heroSection {
		position: static;

		&__backgroundPhoto {
			position: static;
			left: 0;
			transform: translateX(0%);
		}
	}
}

@media (max-width: util.rem(1360)) {
	.heroSection {
		&__container {
			position: absolute;
			left: 50%;
			min-width: util.rem(1150);
			transform: translateX(-50%);
		}

		&__headlineWrapper,
		&__callToActionButton {
			justify-self: center;
		}

		&__headline,
		&__description {
			text-align: center;
		}

		&__descriptionWrapper {
			place-self: center;
		}

		&__lineImage {
			display: none;
		}

		&__rightArrowImage {
			top: util.rem(315);
			left: util.rem(0);
		}

		&__backgroundPhoto {
			opacity: 1;
		}

		&__whiteCirclesImage {
			top: util.rem(240);
		}
	}
}
