@use '/src/styles/utils/' as util;

.footer {
	display: flex;
	min-height: util.rem(96);
	background-color: var(--color-Slate-700);

	&__wrapper {
		display: flex;
		align-self: center;
		justify-content: space-between;
	}

	&__navListWrapper {
		display: flex;
		gap: util.rem(56);
	}

	&__logoImage {
		min-width: util.rem(108);
		min-height: util.rem(29);
		filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(292deg) brightness(108%)
			contrast(108%);
	}

	&__navList {
		display: flex;
		gap: util.rem(32);
		list-style-type: none;
	}

	&__navItem {
		display: flex;
		flex-direction: column;
	}

	&__navLink {
		flex-grow: 1;
		align-content: center;
		color: var(--color-Slate-400);
	}

	&__navLinks {
		display: flex;
		gap: util.rem(32);
		list-style-type: none;
	}

	&__navItem {
		display: flex;
		flex-direction: column;
	}

	&__iconLink {
		flex-grow: 1;
		align-content: center;
	}

	&__iconImage {
		min-width: util.rem(24);
		min-height: util.rem(24);
	}
}

@media (max-width: util.rem(700)) {
	.footer {
		&__wrapper {
			margin: util.rem(75) auto;
			flex-direction: column;
			gap: util.rem(88);
		}

		&__navListWrapper {
			flex-direction: column;
			align-items: center;
			gap: util.rem(40);
		}

		&__navList {
			flex-direction: column;
			align-items: center;
			gap: util.rem(18);
		}

		&__navLinks {
			justify-content: center;
		}
	}
}
