@use '/src/styles/utils/' as util;

html:has(.mobileDrawer__dialog[open]) {
	overflow: hidden;
}

.mobileDrawer {
	&__dialog {
		z-index: 1;
		width: 70%;
		height: calc(100% - util.rem(96));
		padding: util.rem(25);
		background-color: var(--color-Slate-700);
		border-style: none;
	}

	&__overlay {
		position: absolute;
		z-index: 1;
		width: 100%;
		height: calc(100% - util.rem(96));
		background-color: var(--color-Neutral-950);
		opacity: 0.8;
	}

	&__navList {
		list-style-type: none;
	}

	&__navItem {
		margin-top: util.rem(25);
	}

	&__navLink {
		color: var(--color-Slate-100);
		@include util.text-preset-5;
	}

	&__callToActionButton {
		position: absolute;
		bottom: util.rem(0);
		margin-bottom: util.rem(25);
		padding: util.rem(16) util.rem(40);
		color: var(--color-Neutral-0);
		background-color: var(--color-Amber-400);
		border-style: none;
		cursor: pointer;
		@include util.text-preset-8;
	}
}

@media (max-width: util.rem(720)) {
	.mobileDrawer {
		&__dialog {
		}

		&__overlay {
		}

		&__dialog::backdrop {
		}

		&__navList {
		}

		&__navItem {
		}

		&__navLink {
		}

		&__callToActionButton {
		}
	}
}
